* {
    margin: 0;
    padding: 0
}

.show-playing {
    position: fixed;
    top: 0;
    width: 412px;
    background-color: #290b29;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
    height: 435px;
}

.show-playing h4 {
    margin-top: 16px;
    display: inline-block;
    color: #ecd71f;
}

.show-playing h3 {
    color: rgb(241, 237, 237);
    margin-top: 6px;
    margin-bottom: 12px;
}

#album-img {
    margin: auto;
    width: 250px;
}

.cd {
    margin: auto;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    margin: auto;
    background-size: cover;
}

.show-action {
    color: rgb(241, 237, 237);
    margin: 16px auto 0px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.action-btn {
    font-size: 24px;
    padding: 12px 15px;
    border: none;
    background-color: #290b29;
    cursor: pointer;
}

.active-btn {
    display: inline-block !important;
}

.play-btn,
.pause-btn,
.random-btn,
.repeatList-btn,
.repeatOne-btn {
    display: none;
}

#play-icon {
    padding: 1px 3px 5px 3px;
}

#pause-icon {
    padding: 1px 4.5px 5px;
}

#random-icon {
    padding: 0px 0px 6px;
}

#repeatOne-icon {
    color:#ecd71f;
}

#repeatList-icon {
    padding: 0px 0px 6px 0;
}

.progress {
    margin-top: 16px;
    -webkit-appearance: none;
    width: 350px;
    appearance: none;
    height: 6px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 5px;
    background-color: #ecd71f;
    cursor: pointer;
}

.progress::-webkit-slider-thumb:hover {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.between{
    width: 412px;
    background-color: black;
    height: 441px;
}

.show-list {
    width: 412px;
    background-color: black;
    background-size: 100%;
    /* margin-top: 435px; */
}

.song {
    color: rgb(241, 237, 237);
    margin-bottom: 6px;
    background-color: #290b29;
    border-radius: 12px;
    margin-left: 5%;
    width: 90%;
    height: 65px;
    display: flex;
    align-items: center;
}

.song:active {
    opacity: 0.8;
}


.song-active {
    background-color: #ecd71f;
    color: rgb(31, 29, 29);
}

#list-img {
    display: inline-block;
    margin: 12px;
    width: 50px;
    border-radius: 50%;
}

.song-infor {
    padding: 14px 0px;
    margin-left: 12px;
    flex: 1;
}

.song-infor h4 {
    margin-bottom: 3px;
}

.song-infor p {
    font-size: 11px;
    font-weight: 90;
}

.song-more {
    padding: 16px;
    cursor: pointer;
}